bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
.configure.bazelrc
.user.bazelrc
mediapipe/render/demo/ios/OlapipeExample/OlapipeExample.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/UserInterfaceState.xcuserstate
mediapipe/render/demo/ios/OlapipeExample/OlapipeExample.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/render/ios/camera/OlaVideo.xcodeproj/.tulsi/Configs/wangrenzhu.tulsigen-user
mediapipe/render/ios/camera/OlaVideo.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/WorkspaceSettings.xcsettings
mediapipe/render/ios/camera/OlaVideo.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/render/module/beauty/ios/OlaFaceUnity.xcodeproj/.tulsi/Configs/wangrenzhu.tulsigen-user
mediapipe/render/module/beauty/ios/OlaFaceUnity.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/UserInterfaceState.xcuserstate
mediapipe/render/module/beauty/ios/OlaFaceUnity.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/WorkspaceSettings.xcsettings
mediapipe/render/module/beauty/ios/OlaFaceUnity.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/render/module/beauty/OlaFaceUnity.tulsiproj/wangrenzhu.tulsiconf-user
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/UserInterfaceState.xcuserstate
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/WorkspaceSettings.xcsettings
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/examples/ios/playground/MediapipeiOSPlayground/MediapipeiOSPlayground.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/UserInterfaceState.xcuserstate
mediapipe/examples/ios/playground/MediapipeiOSPlayground/MediapipeiOSPlayground.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
mediapipe/examples/ios/playground/MediapipeiOSPlayground/MediapipeiOSPlayground.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcschemes/xcschememanagement.plist
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.tulsiproj/wangrenzhu.tulsiconf-user
mediapipe/examples/ios/common/MediapipeiOSCommonLibrary.xcodeproj/.tulsi/Configs/wangrenzhu.tulsigen-user
mediapipe/render/module/beauty/ios/example/OpipeBeautyModuleExample/OpipeBeautyModuleExample.xcodeproj/project.xcworkspace/xcuserdata/wangrenzhu.xcuserdatad/xcdebugger/Expressions.xcexplist
mediapipe/render/module/beauty/ios/example/OpipeBeautyModuleExample/OpipeBeautyModuleExample.xcodeproj/xcuserdata/wangrenzhu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.tulsiproj/project.tulsiconf
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.tulsiproj/wangrenzhu.tulsiconf-user
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.tulsiproj/Configs/Develop.tulsigen
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/tulsi-execution-root
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/tulsi-output-base
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/tulsi-workspace
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Configs/FaceUnityFramework.tulsigen
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Configs/wangrenzhu.tulsigen-user
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Resources/iOSXCTRunner.entitlements
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Resources/macOSXCTRunner.entitlements
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Resources/StubInfoPlist.plist
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Resources/StubWatchOS2AppExInfoPlist.plist
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Resources/StubWatchOS2InfoPlist.plist
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/apfs_clone_copy.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/bazel_build.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/bazel_build_events.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/bazel_build_settings.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/bazel_clean.sh
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/bazel_options.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/bootstrap_lldbinit.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/clang_stub.sh
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/install_genfiles.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/ld_stub.sh
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/swiftc_stub.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/symbol_cache_schema.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/tulsi_logging.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/update_symbol_cache.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Scripts/user_build.py
mediapipe/render/module/beauty/ios/framework/FaceUnityFramework.xcodeproj/.tulsi/Utils/lldbinit
mediapipe/examples/android/solutions/.gradle/7.4/checksums/md5-checksums.bin
mediapipe/examples/android/solutions/.gradle/7.4/checksums/sha1-checksums.bin
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/file-system.probe
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/7.3.3/gc.properties
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/7.3.3/checksums/checksums.lock
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/7.3.3/dependencies-accessors/gc.properties
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/7.3.3/executionHistory/executionHistory.lock
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/7.3.3/fileChanges/last-build.bin
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/7.3.3/fileHashes/fileHashes.bin
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/7.3.3/fileHashes/fileHashes.lock
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/buildOutputCleanup/buildOutputCleanup.lock
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/buildOutputCleanup/cache.properties
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/buildOutputCleanup/outputFiles.bin
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle/vcs-1/gc.properties
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/.gitignore
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/compiler.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/gradle.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/misc.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/modules.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/vcs.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle____app_libs_libcamera_core_jar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle____app_libs_opipe_jni_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_4_2_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_4_2_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_core_core_1_7_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_core_core_ktx_1_7_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_4_0.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_4_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__com_google_android_material_material_1_6_1_aar.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_2_0.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__com_google_guava_guava_27_0_1_android.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__junit_junit_4_12.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__junit_junit_4_13_2.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_5_2.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_7_10.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_7_10.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_7_10.xml
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_7_10.xml

/.aswb/
/.github/
/.idea/
/.idea/.gitignore
/.idea/modules.xml
/.idea/Opipe.iml
/.idea/vcs.xml
/.vscode/
/.vscode/settings.json
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.gradle
mediapipe/render/module/beauty/android/demo/OlaBeautyDemo/.idea
/.aswb/
/.aswb/.idea/
/.aswb/
mediapipe/render/android/.idea
mediapipe/examples/android/solutions/.gradle
