<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OlaRenderFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>OlaRenderLibrary.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>_bazel_clean_.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>_idx_Scheme.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>mediapipe-render-module-render_queue-OlaRenderLibrary.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>mediapipe-render-module-render_queue-olarender.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>olarender.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict/>
</dict>
</plist>
